<div class="calendar-section-wrapper">
    <div class="mini-calendar">
        <button mat-fab color="accent" aria-label="Create" (click)="createConsultation()">
            <mat-icon>add</mat-icon>
        </button>
        <div class="calendar-wrapper">
            <mat-calendar #calendar [(selected)]="viewDate" (selectedChange)="goToDate(viewDate)">
            </mat-calendar>
        </div>
    </div>
    <div class="calendar-detailed">
        <div class="calendar-control">
            <button mat-stroked-button mwlCalendarToday (click)="goToToday()">Today</button>

            <div class="viewNavigation">
                <button mat-icon-button aria-label="Back" (click)="calendarApi.prev()">
                    <mat-icon>chevron_left</mat-icon>
                </button>

                <button mat-icon-button aria-label="Next" (click)="calendarApi.next()">
                    <mat-icon>chevron_right</mat-icon>
                </button>

                <div class="literal-date" [ngSwitch]="viewType">
                    <ng-container *ngSwitchCase="'Month'">
                        {{ viewDate | date: 'MMMM YYYY' }}
                    </ng-container>

                    <ng-container *ngSwitchCase="'Day'">
                        {{ viewDate | date: 'd MMMM YYYY' }}
                    </ng-container>

                    <ng-container *ngSwitchCase="'Week'">
                        {{ viewDate | date: 'MMMM YYYY' }}
                    </ng-container>
                </div>
            </div>
            <button mat-stroked-button [matMenuTriggerFor]="menu" class="viewName">
                {{ viewType }}
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="calendarApi.changeView(viewOptions.DAY)">Day</button>
                <button mat-menu-item (click)="calendarApi.changeView(viewOptions.WEEK)">
                    Week
                </button>
                <button mat-menu-item (click)="calendarApi.changeView(viewOptions.MONTH)">
                    Month
                </button>
            </mat-menu>
        </div>
        <full-calendar *ngIf="calendarOptions" #fullcalendar [options]="calendarOptions">
        </full-calendar>
    </div>
</div>
