<mat-sidenav-container>
    <mat-sidenav mode="side" [opened]="sideBarDisplayed">
        <div class="sidenav-wrapper unselectable">
            <ng-container *ngFor="let menu of menus">
                <div class="sidenav-menu-item unselectable" (click)="navigateToMenu(menu)">
                    <mat-icon
                        *ngIf="menu.icon"
                        aria-hidden="false"
                        aria-label="Example home icon"
                        >{{ menu.icon }}</mat-icon
                    >
                    <img
                        class="side-menu-image unselectable"
                        *ngIf="menu.image"
                        src="assets/img/stethoscope.png"
                        alt=""
                    />
                </div>
            </ng-container>

            <div style="flex: 1 1 auto"></div>

            <div class="current-user">
                <div class="current-user-name"></div>

                <a class="bottom-link" target="_blank" href="/api/v1/swagger-ui">
                    <button mat-button class="docs-links">Api Docs</button>
                </a>
                <a
                    class="bottom-link"
                    target="_blank"
                    href="https://gitlab.com/mchiaramonte/well-app"
                >
                    <button mat-button class="docs-links">Source</button>
                </a>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
