.sidenav-menu-item {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    cursor: pointer;

    .mat-icon {
        height: 100%;
        width: 60px;
        font-size: 60px;
        color: black;
    }

    .side-menu-image {
        height: 100%;
        width: 60px;
        color: var(--wellAccent);
    }
}

.sidenav-wrapper {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100%;
    background-color: var(--wellPrimary);
}

.current-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.current-user-name {
    text-align: center;
    word-break: break-all;
}

.mat-sidenav-container {
    height: 100vh;
}

a {
    text-decoration: none;
    color: black;
}

.bottom-link {
    margin-top: 7px;
    margin-bottom: 7px;
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.docs-links {
    background-color: white;
}
