<mat-card class="consultation-timeline">
    <mat-card-header>
        <mat-card-title> Anamnesis </mat-card-title>
    </mat-card-header>
    <ng-container
        *ngFor="
            let consultation of consultationDashboardService.consultationList | async;
            last as isLast
        "
    >
        <mat-card
            class="consultation-digest"
            [ngClass]="{
                'consultation-digest-selected':
                    consultation.uuid ===
                    consultationDashboardService.consultationSubject.getValue().uuid
            }"
            [routerLink]="'../' + consultation.uuid"
            routerLinkActive
        >
            <ng-container *ngIf="consultation.startDateTime">
                {{ consultation.startDateTime | date }}
            </ng-container>
        </mat-card>
        <div *ngIf="!isLast" class="timeline-spacer">
            <div class="vertical-connector"></div>
        </div>
    </ng-container>
</mat-card>
