.consultation-timeline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // align-items: center;

    .timeline-spacer {
        width: 100%;
        display: flex;
        justify-content: center;

        .vertical-connector {
            width: 6px;
            height: 10px;
            background-color: var(--wellAccent);
        }
    }

    .consultation-digest {
        width: 70%;
        // height: 100px;
        border-radius: 15px;
        background-color: var(--wellPrimary);
        padding: 15px;
        cursor: pointer;
    }

    .consultation-digest:hover {
        background-color: rgba(#00be7d, 0.7);
    }

    .consultation-digest-selected {
        background-color: var(--wellAccent);
        color: white;
    }

    .consultation-digest-selected:hover {
        background-color: rgba(#120a64, 0.9);
    }
}
