/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@include mat-core();

// Calendar Styles
@import '../node_modules/angular-calendar/css/angular-calendar.css';

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

:root {
    --wellPrimary: #00be7d;
    --wellAccent: #120a64;
}

/* ======== Angular material custom themes ======== */

$my-custom-primary: mat-palette($mat-green, A700);
$my-custom-accent: mat-palette($mat-green, 100, 500, A100);
$my-custom-warn: mat-palette($mat-lime); //Optional

$my-custom-theme: mat-light-theme($my-custom-primary, $my-custom-accent, $my-custom-warn);

@include angular-material-theme($my-custom-theme);
