.dashboard-wrapper {
    display: flex;
    flex-direction: row;

    .left-column-wrapper {
        padding: 6px;
        min-width: fit-content;
    }

    app-symptom-selector {
        // width: 60%;
        margin-left: auto;
    }
}

.left-column-items {
    display: flex;
    // justify-content: space-between;
}

.vertical-spacer {
    height: 12px;
}

.horizontal-spacer {
    width: 12px;
}
