<div class="dashboard-wrapper">
    <div class="left-column-wrapper">
        <app-patient-details></app-patient-details>
        <div class="vertical-spacer"></div>
        <div class="left-column-items">
            <app-consultation-timeline></app-consultation-timeline>
            <div class="horizontal-spacer"></div>
            <app-vital-signs></app-vital-signs>
        </div>
    </div>

    <app-symptom-selector></app-symptom-selector>
</div>
