<mat-card>
    <mat-form-field class="patient-searchbar opaque-form-field" appearance="outline">
        <mat-label>Search Patient</mat-label>
        <input
            matInput
            placeholder="John Smith"
            [(ngModel)]="searchQuery"
            (ngModelChange)="searchBoxChanged()"
        />
    </mat-form-field>

    <mat-list>
        <mat-list-item
            *ngFor="let patient of patients"
            (click)="findConsultationAndNavigate(patient)"
        >
            <mat-icon mat-list-icon>
                <img
                    class="patient-thumbnail"
                    [src]="'assets/img/patients/' + patient.picture + '.png'"
                    alt=""
            /></mat-icon>
            <div mat-line>{{ patient.lastName }}, {{ patient.firstName }}</div>
            <div mat-line></div>
        </mat-list-item>
    </mat-list>
</mat-card>
