.wrapper-vital-signs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    mat-card {
        margin-bottom: 6px;
    }
}

.pressure {
    height: 100px;
    display: flex;
    flex-direction: row;

    img {
        height: 100%;
    }
}

.numeric-inputs {
    display: flex;
    flex-direction: row;
    margin-left: 16px;
    align-items: center;
}

.pressure-value {
    text-align: center;
}

.measure-type {
    height: fit-content;
}
