<div class="wrapper-vital-signs">
    <mat-card>
        <mat-card-content>
            <div class="pressure">
                <img src="assets/img/consultation/blood-pressure-gauge.png" alt="" />
                <div class="numeric-inputs">
                    <div>
                        <button
                            mat-icon-button
                            (click)="pressureRangeTop = pressureRangeTop + pressureStep"
                        >
                            <mat-icon>keyboard_arrow_up</mat-icon>
                        </button>
                        <div class="pressure-value">
                            {{ pressureRangeTop }}
                        </div>
                        <button
                            mat-icon-button
                            (click)="pressureRangeTop = pressureRangeTop - pressureStep"
                        >
                            <mat-icon>keyboard_arrow_down</mat-icon>
                        </button>
                    </div>
                    <div class="measure-type">/</div>
                    <div>
                        <button
                            mat-icon-button
                            (click)="pressureRangeBottom = pressureRangeBottom + pressureStep"
                        >
                            <mat-icon>keyboard_arrow_up</mat-icon>
                        </button>
                        <div class="pressure-value">
                            {{ pressureRangeBottom }}
                        </div>
                        <button
                            mat-icon-button
                            (click)="pressureRangeBottom = pressureRangeBottom - pressureStep"
                        >
                            <mat-icon>keyboard_arrow_down</mat-icon>
                        </button>
                    </div>
                    <div class="measure-type">mmHg</div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-content>
            <div class="pressure">
                <img src="assets/img/consultation/blood-sugar.png" alt="" />
                <div class="numeric-inputs">
                    <div>
                        <button mat-icon-button (click)="bloodSugar = bloodSugar + bloodSugarStep">
                            <mat-icon>keyboard_arrow_up</mat-icon>
                        </button>
                        <div class="pressure-value">
                            {{ bloodSugar | number }}
                        </div>
                        <button mat-icon-button (click)="bloodSugar = bloodSugar - bloodSugarStep">
                            <mat-icon>keyboard_arrow_down</mat-icon>
                        </button>
                    </div>
                    <div class="measure-type">mg/dL</div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-content>
            <div class="pressure">
                <img src="assets/img/consultation/temperature.png" alt="" />
                <div class="numeric-inputs">
                    <div>
                        <button
                            mat-icon-button
                            (click)="temperature = temperature + temperatureStep"
                        >
                            <mat-icon>keyboard_arrow_up</mat-icon>
                        </button>
                        <div class="pressure-value">
                            {{ temperature | number: '.1' }}
                        </div>
                        <button
                            mat-icon-button
                            (click)="temperature = temperature - temperatureStep"
                        >
                            <mat-icon>keyboard_arrow_down</mat-icon>
                        </button>
                    </div>
                    <div class="measure-type">°C</div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
