<form class="consultation-form">
    <div>
        <h1>New Consultation</h1>
    </div>

    <div class="form-section">
        <div class="form-icon">
            <mat-icon>access_time</mat-icon>
        </div>

        <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input
                matInput
                [matDatepicker]="picker"
                [value]="dates.start"
                (dateChange)="changeDate($event.value)"
            />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div class="form-hours">
            <button mat-button [matMenuTriggerFor]="menuStart" class="menu-trigger-button">
                {{ dates.start | date: 'HH:mm' }}
            </button>
            <div class="hour-divider"></div>
            <button mat-button [matMenuTriggerFor]="menuEnd" class="menu-trigger-button">
                {{ dates.end | date: 'HH:mm' }}
            </button>

            <mat-menu #menuStart="matMenu" xPosition="after">
                <button *ngFor="let hour of hours" mat-menu-item (click)="selectStartTime(hour)">
                    {{ hour | date: 'HH:mm' }}
                </button>
            </mat-menu>
            <mat-menu #menuEnd="matMenu" xPosition="after">
                <button *ngFor="let hour of hours" mat-menu-item (click)="selectEndTime(hour)">
                    {{ hour | date: 'HH:mm' }}
                </button>
            </mat-menu>
        </div>
    </div>

    <div class="form-section">
        <div class="form-icon">
            <mat-icon>person</mat-icon>
        </div>
        <mat-form-field appearance="fill">
            <mat-label>Select a patient</mat-label>
            <mat-select [(value)]="selectedPatient">
                <mat-option *ngFor="let patient of patientList" [value]="patient">
                    {{ patient.firstName }} {{ patient.lastName }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <button mat-raised-button (click)="onSubmit()">Send</button>
</form>
