.consultation-form {
    display: flex;
    flex-direction: column;
}

.title-input {
    width: 100%;
}

.form-icon {
    margin-right: 12px;
    padding-bottom: 10px;
    min-width: 35px;
}

.form-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-hours {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    flex: 1 1 auto;
    cursor: text;
}

.hour-divider {
    height: 1px;
    width: 7px;
    background-color: black;
    margin-bottom: 15px;
}

.menu-trigger-button {
    cursor: text;
    height: 100%;
    padding-bottom: 4px;
    padding-top: 4px;
    margin-bottom: 12px;
}
