<div class="calendar-section-wrapper">
    <div class="mini-calendar">
        <button mat-fab color="accent" aria-label="Create" (click)="createConsultation()">
            <mat-icon>add</mat-icon>
        </button>
        <div class="calendar-wrapper">
            <mat-calendar #calendar [(selected)]="viewDate"> </mat-calendar>
        </div>
    </div>
    <div class="calendar-detailed">
        <div class="calendar-control">
            <button
                mat-stroked-button
                mwlCalendarToday
                [(viewDate)]="viewDate"
                (click)="setView(calendarView.Day)"
            >
                Today
            </button>

            <div class="viewNavigation">
                <button
                    mat-icon-button
                    aria-label="Back"
                    mwlCalendarPreviousView
                    [view]="view"
                    [(viewDate)]="viewDate"
                >
                    <mat-icon>chevron_left</mat-icon>
                </button>

                <button
                    mat-icon-button
                    aria-label="Next"
                    mwlCalendarNextView
                    [view]="view"
                    [(viewDate)]="viewDate"
                >
                    <mat-icon>chevron_right</mat-icon>
                </button>
                <div class="literal-date" [ngSwitch]="view">
                    <ng-container *ngSwitchCase="calendarView.Month">
                        {{ viewDate | date: 'MMMM YYYY' }}
                    </ng-container>

                    <ng-container *ngSwitchCase="calendarView.Day">
                        {{ viewDate | date: 'd MMMM YYYY' }}
                    </ng-container>

                    <ng-container *ngSwitchCase="calendarView.Week">
                        {{ viewDate | date: 'MMMM YYYY' }}
                    </ng-container>
                </div>
            </div>
            <button mat-stroked-button [matMenuTriggerFor]="menu" class="viewName">
                {{ view }}
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="setView(calendarView.Day)">Day</button>
                <button mat-menu-item (click)="setView(calendarView.Week)">Week</button>
                <button mat-menu-item (click)="setView(calendarView.Month)">Month</button>
            </mat-menu>
        </div>

        <div [ngSwitch]="view" class="calendar-wrapper">
            <mwl-calendar-month-view
                *ngSwitchCase="calendarView.Month"
                [viewDate]="viewDate"
                [events]="events"
                [refresh]="refresh"
                (dayClicked)="dayClicked($event.day)"
                (eventTimesChanged)="eventTimesChanged($event)"
            >
            </mwl-calendar-month-view>
            <mwl-calendar-week-view
                *ngSwitchCase="calendarView.Week"
                [viewDate]="viewDate"
                [events]="events"
                [refresh]="refresh"
                [dayStartHour]="dayStartingHour"
                [dayEndHour]="dayEndingHour"
                [weekStartsOn]="1"
                (eventTimesChanged)="eventTimesChanged($event)"
                (hourSegmentClicked)="selectedHourSegment($event.date)"
            >
            </mwl-calendar-week-view>
            <mwl-calendar-day-view
                *ngSwitchCase="calendarView.Day"
                [viewDate]="viewDate"
                [events]="events"
                [refresh]="refresh"
                [dayStartHour]="dayStartingHour"
                [dayEndHour]="dayEndingHour"
                (eventTimesChanged)="eventTimesChanged($event)"
                (hourSegmentClicked)="selectedHourSegment($event.date)"
            >
            </mwl-calendar-day-view>
        </div>
    </div>
</div>
