pre {
    background-color: #f5f5f5;
    padding: 15px;
}

.calendar-section-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;

    .mini-calendar {
        width: 15%;
        padding: 12px;
    }

    .calendar-detailed {
        flex: 1;
        align-self: flex-end;

        .calendar-wrapper {
            width: 100%;
        }

        .calendar-control {
            width: 100% -5px;
            padding: 12px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .viewNavigation {
                display: flex;
                flex-direction: row;
                min-width: 300px;
            }

            .literal-date {
                font-weight: 400;
                font-size: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .viewName {
                text-transform: capitalize;
                margin-right: 20px;
            }
        }
    }
}

.spacer {
    flex: 1 1 auto;
}
