<div cdkDropListGroup class="symptom-picker-wrapper">
    <div class="drop-container">
        <h2 class="symptoms-title">Symptoms and Diagnostics</h2>

        <div
            cdkDropList
            [cdkDropListData]="selectedSymptoms"
            class="drop-list"
            (cdkDropListDropped)="drop($event, true)"
        >
            <div
                class="drop-box"
                *ngFor="let item of selectedSymptoms"
                cdkDrag
                [cdkDragData]="item"
            >
                {{ item.code }} {{ item.description }}
            </div>
        </div>
    </div>

    <div class="drop-container">
        <mat-form-field class="symptom-searchbar" appearance="outline">
            <mat-label>Search Symptoms and ICM10 Codes</mat-label>
            <input
                matInput
                placeholder="Back pain, Cough, M545"
                [(ngModel)]="icd10Search"
                (ngModelChange)="searchBoxChanged()"
            />
        </mat-form-field>

        <div
            cdkDropList
            [cdkDropListData]="availableSymptoms"
            class="drop-list available-icd10-categories"
            (cdkDropListDropped)="drop($event, false)"
            cdkDropListSortingDisabled
        >
            <div
                class="drop-box"
                *ngFor="let item of availableSymptoms"
                cdkDrag
                [cdkDragData]="item"
                (click)="selectSymptom(item)"
            >
                {{ item.code }} {{ item.description }}
            </div>
        </div>
    </div>
</div>
