.consultation-symptoms {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    min-height: 200px;
    overscroll-behavior: contain;
}

.symptom-searchbar {
    width: 100%;
}

.horizontal-divider {
    width: 100%;
    height: 10px;
    display: inline-flex;
    justify-content: center;
    padding-top: 6px;
    img {
        height: 100%;
    }
}

.selected-symptoms {
    background-color: var(--wellPrimary);
    width: fit-content;
    height: fit-content;
    min-height: 40px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    font-weight: 500;

    cursor: pointer;
    margin: 6px;
}

.symptoms-title {
    padding: 15px;
}

.selected-symptoms:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.available-icd-category {
    padding-right: 16px;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.symptom-picker-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.drop-container {
    width: 350px;
    flex-direction: row;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
}

.drop-list {
    border: solid 1px #ccc;
    min-height: 50vh;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
}

.available-icd10-categories {
    height: 80vh;
    overflow-y: scroll;
}

.drop-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: pointer;
    background: white;
    font-size: 14px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
