<mat-card class="wrapper">
    <mat-card-header>
        <mat-card-title> Upcoming Consultations </mat-card-title>
    </mat-card-header>
    <ng-container *ngFor="let item of consultations">
        <mat-card
            class="upcoming-consult"
            routerLinkActive
            [routerLink]="'../patient/' + item.patient?.uuid + '/consultation/' + item.uuid"
        >
            <div class="form-section">
                <div class="form-icon">
                    <mat-icon>date_range</mat-icon>
                </div>
                <div>
                    {{ item.startDateTime | date: 'dd.MM.YYYY' }}
                </div>
            </div>
            <div class="form-section">
                <div class="form-icon">
                    <mat-icon>access_time</mat-icon>
                </div>
                <div>
                    {{ item.startDateTime | date: 'HH:mm' }}
                </div>
            </div>
            <div class="form-section">
                <div class="form-icon">
                    <mat-icon>person</mat-icon>
                </div>
                <div>{{ item.patient?.lastName }}, {{ item.patient?.firstName }}</div>
            </div>
        </mat-card>
    </ng-container>
</mat-card>
