.wrapper {
    width: 100%;
    margin: 6px;
    background-color: #cecece;
}

.upcoming-consult {
    cursor: pointer;
    margin: 6px;
}

.form-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-icon {
    padding-top: 6px;
    margin-right: 12px;
    min-width: 35px;
}
