<mat-card *ngIf="consultationDashboardService.patientSubject | async as patient">
    <mat-card-header>
        <mat-card-title>
            <div class="header-card">
                {{ patient.lastName }}, {{ patient.firstName }}
                <div class="patient-thumbnail">
                    <img [src]="'assets/img/patients/' + patient.picture + '.png'" alt="" />
                </div>
            </div>
        </mat-card-title>
        <mat-card-subtitle>
            {{ patient.birthday | date: 'dd.MM.YYYY' }}
        </mat-card-subtitle>
    </mat-card-header>
</mat-card>
